.aboutMeContainer {
  background-color: #5d0e5c;
  width: 80%;
  padding: 8px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.377);
  margin-bottom: 150px;
}

.title {
  color: rgb(188, 64, 230);
  width: 100%;
  text-align: start;
  padding-block: 16px;
}
